#{extends 'main.html' /}
#{set title:'What\'s My Wine | Home' /}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Complete Wine Listings <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Red Wines</a></li>
              <li><a href="#">White Wines</a></li>
              <li><a href="#">Dessert Wines</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="jumbotron masthead">
  <div class="container">
    <h1>What's My Wine?</h1>
    <p>Get spot-on wine recommendations with just a few clicks.</p>
    <p><button id="getstarted" class="btn btn-primary btn-large">Get Started!</button></p>
    <ul class="masthead-links">
    </ul>
  </div>
</div>

<div id="search-start" class="container">
  <div class="marketing">

    <h1>#1: Choose your price.</h1>
    <p class="category-caption">How much are you willing to pay?</p>

    <div class="row-fluid">
      <div class="btn-group" data-toggle="buttons-radio">
        <div class="span3">
          <button type="button" class="btn btn-success price-btn active" value="" rel="tooltip" title="Select this option">?</button>
          <h2 class="price-text chosen">Anything</h2>
          <p class="category-caption">I don't care about the price.</p>
        </div>
        <div class="span3">
          <button type="button" class="btn price-btn" value="low" rel="tooltip" title="Select this option">$</button>
          <h2 class="price-text">$5 - $10</h2>
          <p class="category-caption">Inexpensive</p>
        </div>
        <div class="span3">
          <button type="button" class="btn price-btn" value="mid" rel="tooltip" title="Select this option">$$</button>
          <h2 class="price-text">$11 - $17</h2>
          <p class="category-caption">Mid-Range</p>
        </div>
        <div class="span3">
          <button type="button" class="btn price-btn" value="high" rel="tooltip" title="Select this option">$$$</button>
          <h2 class="price-text">$18 +</h2>
          <p class="category-caption">Gettin' Fancy!</p>
        </div>
      </div>
    </div>
    <p class="category-error text-error hide">Please select a price range.</p>

    <hr class="soften">

    <h1>#2. Choose your style.</h1>
    <p class="category-caption">Describe what your taste buds are craving.</p>

    <div class="row-fluid">
      <div class="btn-group" data-toggle="buttons-radio">
        <div class="span3">
          <button type="button" class="btn btn-success style-btn active" value="" rel="tooltip" title="Select this option">?</button>
          <h2 class="style-text chosen">Anything</h2>
          <p class="category-caption">I don't care about the style.</p>
        </div>
        <div class="span3">
          <button type="button" class="btn style-btn" value="1" rel="tooltip" title="Select this option">"Ahh"</button>
          <h2 class="style-text">Lightweight</h2>
          <p class="category-caption">Crisp, refreshing taste with high acidity.</p>
        </div>
        <div class="span3">
          <button type="button" class="btn style-btn" value="2" rel="tooltip" title="Select this option">"Mmm"</button>
          <h2 class="style-text">Fruity &amp; Smooth</h2>
          <p class="category-caption">Lots of juicy fruit that goes down easy.</p>
        </div>
        <div class="span3">
          <button type="button" class="btn style-btn" value="3" rel="tooltip" title="Select this option">"Pow!"</button>
          <h2 class="style-text">Big &amp; Bold</h2>
          <p class="category-caption">Concentrated fruit with hints of spices and vanilla/nutty flavor.</p>
        </div>
      </div>
    </div>
    <p class="category-error text-error hide">Please select a price range.</p>

    <hr class="soften">

    <button id="submitsearch" class="btn btn-primary btn-large bigbutton">All finished. Show me the wines!</button>

  </div>
</div>

<div id="wine-list" class="container hide"></div>
